<div class="main-layout">

  <nav class="navbar" *ngIf="!isHomePage">

    <!-- 1. Busca Central (Agora contém a Logo) -->
    <div class="nav-search-box">
      <app-search [isCompact]="true"></app-search>
    </div>

    <!-- 2. Botão Random (Direita) -->
    <div class="nav-actions">
      <button class="random-btn" (click)="onRandomCard()" title="Random Card">
        <mat-icon>shuffle</mat-icon>
        <span class="text">Random Card</span>
      </button>
    </div>
  </nav>

  <main class="content-area">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </main>

</div>