<div class="search-container" [class.compact-mode]="isCompact">

  <div class="search-box">
    <mat-form-field appearance="outline" class="full-width custom-search">

      <!-- LOGO EMBUTIDA (Apenas Compact Mode) -->
      @if (isCompact) {
      <div matPrefix class="search-logo-prefix" routerLink="/">
        <img src="assets/logo.svg" alt="Home">
        <div class="separator"></div>
      </div>
      }

      <input matInput placeholder="Digite o nome da carta (ex: Sol Ring)..." [(ngModel)]="searchTerm"
        (keyup.enter)="buscar()" (input)="onSearchInput()" autocomplete="off">

      <button mat-icon-button matSuffix type="button" (click)="buscar()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>

    @if (suggestions.length > 0) {
    <div class="suggestions-dropdown">
      @for (suggestion of suggestions; track $index) {
      <div class="suggestion-item" (click)="selectSuggestion(suggestion)">
        <img [src]="suggestion.imageUrl" alt="Card Art" class="suggestion-img">
        <span [innerHTML]="highlightMatch(suggestion.name)"></span>
      </div>
      }
    </div>
    }
  </div>

  @if (isLoading) {
  <p class="loading">Buscando no Multiverso...</p>
  }

  @if (errorMessage) {
  <p class="error">{{ errorMessage }}</p>
  }

</div>